<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>All documents</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>text</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Docs</string>
			<key>CFBundleTypeName</key>
			<string>Text document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>HYPHYMP</string>
	<key>CFBundleIdentifier</key>
	<string>org.hyphy</string>
	<key>CFBundleLongVersionString</key>
	<string>1.4, Copyright 1997-2014 by Sergei L Kosakovsky Pond, Art FY Poon, N. Lance Hepler, Steven Weaver, Martin Smith, and Spencer V Muse</string>
	<key>CFBundleShortVersionString</key>
	<string>2.10beta</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>2.2.3</string>
	<key>NSServices</key>
	<array/>
	<key>UTExportedTypeDeclarations</key>
	<array/>
	<key>UTImportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
