.svn/
*.tmp
*~
.DS_Store
src/ocl/opencl_kernels.h
*.cxx
contrib/gtest-1.7.0/CMakeCache.txt
contrib/gtest-1.7.0/CMakeFiles
contrib/gtest-1.7.0/Makefile
contrib/gtest-1.7.0/cmake_install.cmake
contrib/gtest-1.7.0/install_manifest.txt
