# paste config here
notifications:
    slack: veg-igem:rqQd95zjTuZoRNElekQx2CLf
    email:
        recipients:
            - steven@stevenweaver.org
            - spond@temple.edu
        on_success: change
        on_failure: always

branches:
  only:
    - master
    - develop

dist: xenial

language: cpp
os: linux 

compiler: 
  - gcc
script: 
  - export OMP_NUM_THREADS=4
  - travis_wait 60 eval $envSpecificTest

   
jobs:
  include:
    
    - os: linux
      env:
        - envSpecificTest="make test"
      addons:
        apt:
          sources:
              - llvm-toolchain-precise
              - ubuntu-toolchain-r-test
              - george-edison55-precise-backports
          packages:
              - g++-9
              - gcc-9
      install:
        - if [ "$CXX" = "g++" ]; then export CXX="g++-9" CC="gcc-9"; fi
        - cmake . 
        - make


    # ---- Just run the hbl unit tests with gcc-4, 5 and 6 ----
    # gcc-4
    - os: linux
      env:
        - envSpecificTest="bash ./run_unit_tests.sh"
      addons:
        apt:
          sources:
              - llvm-toolchain-precise
              - ubuntu-toolchain-r-test
              - george-edison55-precise-backports
          packages:
              - g++-4.9
              - gcc-4.9
      install:
        - if [ "$CXX" = "g++" ]; then export CXX="g++-4.9" CC="gcc-4.9"; fi
        - cmake . 
        - make

    # gcc-5
    - os: linux
      env:
        - envSpecificTest="bash ./run_unit_tests.sh"
      addons:
        apt:
          sources:
              - llvm-toolchain-precise
              - ubuntu-toolchain-r-test
              - george-edison55-precise-backports
          packages:
              - g++-5
              - gcc-5
      install:
        - if [ "$CXX" = "g++" ]; then export CXX="g++-5" CC="gcc-5"; fi
        - cmake . 
        - make

    # gcc-6
    - os: linux
      env:
        - envSpecificTest="bash ./run_unit_tests.sh"
      addons:
        apt:
          sources:
              - llvm-toolchain-precise
              - ubuntu-toolchain-r-test
              - george-edison55-precise-backports
          packages:
              - g++-6
              - gcc-6
      install:
        - if [ "$CXX" = "g++" ]; then export CXX="g++-6" CC="gcc-6"; fi
        - cmake . 
        - make
   # gcc-7
    - os: linux
      env:
        - envSpecificTest="bash ./run_unit_tests.sh"
      addons:
        apt:
          sources:
              - llvm-toolchain-precise
              - ubuntu-toolchain-r-test
              - george-edison55-precise-backports
          packages:
              - g++-7
              - gcc-7
      install:
        - if [ "$CXX" = "g++" ]; then export CXX="g++-7" CC="gcc-7"; fi
        - cmake . 
        - make
   # gcc-8
    - os: linux
      env:
        - envSpecificTest="bash ./run_unit_tests.sh"
      addons:
        apt:
          sources:
              - llvm-toolchain-precise
              - ubuntu-toolchain-r-test
              - george-edison55-precise-backports
          packages:
              - g++-8
              - gcc-8
      install:
        - if [ "$CXX" = "g++" ]; then export CXX="g++-8" CC="gcc-8"; fi
        - cmake . 
        - make