# OpenMP projects should set the environment variable OMP_NUM_THREADS to a reasonably small value (say, 4). 
#

language: generic

sudo : required
dist: trusty

notifications:
    email:
        recipients:
            - spond@temple.edu
            - steven@stevenweaver.org
        on_success: change
        on_failure: change

branches:
  only:
    - master
    - v2.3
    - v2.3-dev

cache:
  directories:
      - $HOME/cmake-3.3.2-Linux-x86_64/ 

before_install:
  - wget http://www.cmake.org/files/v3.3/cmake-3.3.2-Linux-x86_64.tar.gz --no-check-certificate
  - tar xvzf cmake-3.3.2-Linux-x86_64.tar.gz -C $HOME
  - sh ./conf/travis-install-mpi.sh $MPI
  - export PATH=$HOME/OpenMPI/bin:$PATH
  - sudo apt-get install clang || die

matrix:
  include:
    - env: CC="clang" CXX="clang++" MPI="openmpi"
      os: linux
      compiler: clang
    - env: CC="gcc" CXX="g++" MPI="openmpi"
      os: linux
      compiler: gcc
    - env: CC="gcc-5" CXX="g++-5" MPI="openmpi"
      os: linux
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-5
            - g++-5
    - env: CC="gcc-6" CXX="g++-6" MPI="openmpi"
      os: linux
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-6
            - g++-6

install:
  - $HOME/cmake-3.3.2-Linux-x86_64/bin/cmake . 
  - make HYPHYMP
  - make HYPHYMPI
  - make HYPHYGTEST

script: 
  - ./HYPHYGTEST
  - ./HYPHYMP LIBPATH=`pwd`/res/ tests/hbltests/libv3/math.bf
  - ./HYPHYMP LIBPATH=`pwd`/res/ tests/hbltests/libv3/iofunctions.bf
  - ./HYPHYMP LIBPATH=`pwd`/res/ tests/hbltests/libv3/utilityfunctions.bf
